<section class="section other-projects">
  <div class="section__title">Publications</div>
  <div class="section__content">
    {% for achievement in site.data.Publications %}
    <div class="project">
      <div class="project__name"> 
        <a href="{{Publications.url}}" target="_blank" class="arrow">{{Publications.title}}</a>
      </div>
      <div class="project__description">
        <p>{{Publications.description}}</p>
      </div>
      <div class="project__used">
        {% for item in Publications.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
